{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로잉 : <span id='followingsCount'>{{ followings|length }}</span> /
        팔로워 : <span id='followersCount'>{{ followers|length }}</span>
      </div>
      {% if user != person %}
        <div>
          <form id='follow-form' data-user-id='{{ person.pk }}'>
            {% csrf_token %}
            {% if user in followers %}
              <button id="followBtn">언팔로우</button>
            {% else %}
              <button id="followBtn">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const formTag = document.querySelector('#follow-form')

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    formTag.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = formTag.dataset.userId
      console.log(userId)
      axios({
        url: `/accounts/${userId}/follow/`,
        method: 'post',
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          
          const isFollowed = response.data.is_followed
          const followBtn = document.querySelector('#followBtn')

          if (isFollowed === true) {
            followBtn.textContent = 'Unfollow'
          } else {
            followBtn.textContent = 'Follow'
          }

          const followingsCountTag = document.querySelector('#followingsCount')
          const followersCountTag = document.querySelector('#followersCount')

          followingsCountTag.textContent = response.data.followings_count
          followersCountTag.textContent = response.data.followers_count
        })
    })
  </script>
{% endblock %}
